<% if (typeof errors != "undefined") {%> <% for(error of errors){%>

<div class="error_message" role="alert"><%= error.msg %></div>
<%}%> <%}%> <% if(success_msg != "") {%>
<div class="success_message" role="alert"><%= success_msg %></div>
<%}%> <% if(error_msg != "") {%>
<div class="error_message" role="alert"><%= error_msg %></div>
<%}%>
