<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Food shack slack</h1>
    <div class="chat_container">
      <h5>Chat Rooms</h5>
    </div>
    <div class="users_container">
      <h5>Online users</h5>
      <ul>
        <% for(user of onlineusers) {%>
        <li><%=user.username%></li>
        <%}%>
      </ul>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
    </script>
  </body>
</html>
