<h1>Food shack slack</h1>
<nav>
  <a href="/pizza"><p>Pizza</p></a>
  <a href="/burgers"><p>Burgers</p></a>
  <a href="/donuts"><p>Donuts</p></a>
</nav>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
</script>
