/* LAYOUT AND GENERAL */

body {
  background: linear-gradient(to bottom right, #e66465, #ffee02) no-repeat
    center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  background-color: orange;
  text-align: center;
  border: solid rgb(255, 123, 0);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  color: orangered;
}

.navbar {
  border: solid rgb(255, 123, 0);
  background-color: orange;
}

.navbar-item {
  background-color: tomato;
  border-radius: 20px;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.navbar-item:hover {
  background-color: white;
  color: tomato;
}

/* DASHBOARD */
.offline_users_container,
.online_users_container {
  border: solid black;

  margin: 5px;
  width: 175px;
  text-align: center;
}
.online_users_container {
  background-color: rgb(12, 235, 12);
}
.offline_users_container {
  background-color: rgb(253, 69, 13);
}

/* CHATROOMS */
.chatRoom_container {
  border: solid black;
  float: left;
  margin: 5px;
  width: 175px;
  height: 500px;
  text-align: center;
  background-color: coral;
  overflow: scroll;
}
.room_name_div {
  background-color: tomato;
  border-radius: 10px;
  margin: 15px;
}
.room_name {
  color: white;
  padding: 10px;
  text-decoration: none;
}

.room_name:hover {
  background-color: white;
  color: tomato;
  text-decoration: none;
}

a {
  text-decoration: none;
}
.room_form {
  background-color: orange;
  border: solid orange;
  height: 50px;
  width: 500px;
  margin: auto;
}

/* HIDE CLASS, SEVERAL ROUTES */
.edit,
.room_create_div {
  display: none;
}

/* ACCOUNT */

.profile {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  object-fit: cover;
}

.picDiv {
  margin-top: 15px;
  margin-right: 50px;
  float: left;
}
.user_input {
  text-align: center;
  position: fixed;
  top: 25%;
  left: 35%;
}

/* ERROR/SUCCESS MSG */
.success_message {
  margin-bottom: 50px;
  animation: fadeOut 2s forwards;
  animation-delay: 2s;
  background: rgb(0, 255, 13);
  color: white;
  padding: 10px;
  text-align: center;
}
.error_message {
  margin-bottom: 50px;
  animation: fadeOut 2s forwards;
  animation-delay: 2s;
  background: rgb(255, 0, 0);
  color: white;
  padding: 10px;
  text-align: center;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* CHAT ROOM */
.chat-messages {
  border-radius: 10px;
  text-align: center;
  position: fixed;
  top: 25%;
  left: 29%;
  border: solid rgb(255, 115, 0) 15px;
  margin-left: auto;
  width: 650px;
  height: 350px;
  overflow-y: scroll;
  background-color: rgb(255, 209, 5);
}
.chat_container {
  border-radius: 10px;
  position: relative;
  background-color: salmon;
  border: solid red;
  width: 50%;
  height: 550px;
  margin: auto;
  overflow: hidden;
}

#chat-form {
  width: 100%;
  position: absolute;
  background-color: red;
  height: 70px;
  bottom: 0;
  float: right;
}

.textMessage {
  background-color: beige;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
}

.chat-msg {
  border-radius: 5px;
  width: 70%;
  height: 60px;
  word-wrap: break-word;
}

.message-sender {
  width: 100px;
  border-radius: 0px 10px 0px 0px;
  float: right;
  background-color: rgb(185, 185, 185);
}
.message-div,
.user-message-div,
.admin-message {
  text-align: left;
  margin: auto;
  border-radius: 15px;
  margin-top: 15px;
  width: 500px;
  border: solid black;
  word-wrap: break-word;
}
.message-div {
  border: solid black;
  background-color: rgb(18, 164, 248);
}
.user-message-div {
  border: solid black;
  background-color: rgb(229, 18, 248);
}

.admin-message {
  font-style: italic;
  background-color: rgb(255, 239, 97);
}

.room_delete {
  margin: auto;
  background-color: orangered;
}

.room_delete_disabled {
  pointer-events: none;
  color: grey;
  background-color: lightgrey;
}

/* ADMIN PAGE */
.admin-div {
  display: flex;
  align-content: center;
  justify-content: center;
  border: solid black;
  background-color: white;
  padding: 5px;
  margin: 5px;
  height: 100px;
}

/* INDEX PAGE */
.startDiv {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: orange;
  animation-duration: 2s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.start-container {
  margin-left: 50%;
  height: 400px;
}

@keyframes slidein {
  from {
    margin-top: 100%;
    background-color: green;
  }
  20% {
    height: 200px;
    background-color: purple;
  }
  50% {
    border-radius: 50%;
    background-color: red;
  }
}
